# 第4章 顧客の行動を予測する10本ノック (31~40)

In [1]:
# 下準備として，データのあるディレクトリに移動しておく
import os

DATA_ROOT_DIR = "./sample/4章/"
os.chdir(DATA_ROOT_DIR)

## ノック31 データを読み込んで確認しよう
例のごとく、まずはデータを読み込む

In [2]:
import pandas as pd
use_log = pd.read_csv("use_log.csv")
use_log.isnull().sum()

log_id         0
customer_id    0
usedate        0
dtype: int64

In [3]:
customer = pd.read_csv("customer_join.csv")
customer.isnull().sum()

customer_id             0
name                    0
class                   0
gender                  0
start_date              0
end_date             2842
campaign_id             0
is_deleted              0
class_name              0
price                   0
campaign_name           0
mean                    0
median                  0
max                     0
min                     0
routine_flg             0
calc_date               0
membership_period       0
dtype: int64

## ノック32 クラスタリングで顧客をグループ化しよう
scikit-learnを使ってクラスタリングする

In [4]:
customer_clustering = customer[["mean", "median", "max", "min", "membership_period"]]
customer_clustering.head()

       mean  median  max  min  membership_period
0  4.833333     5.0    8    2                 47
1  5.083333     5.0    7    3                 47
2  4.583333     5.0    6    3                 47
3  4.833333     4.5    7    2                 47
4  3.916667     4.0    6    1                 47

In [5]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
customer_clustering_sc = sc.fit_transform(customer_clustering)

kmeans = KMeans(n_clusters=4, random_state=0)
clusters = kmeans.fit(customer_clustering_sc)
customer_clustering["cluster"] = clusters.labels_
print(customer_clustering["cluster"].unique())
customer_clustering.head()

[3 1 0 2]

       mean  median  max  min  membership_period  cluster
0  4.833333     5.0    8    2                 47        3
1  5.083333     5.0    7    3                 47        3
2  4.583333     5.0    6    3                 47        3
3  4.833333     4.5    7    2                 47        3
4  3.916667     4.0    6    1                 47        3

## ノック33 クラスタリング結果を分析しよう
クラスタの特徴を分析する．

In [6]:
customer_clustering.columns = ["月内平均値", "月内中央値", "月内最大値", "月内最小値", "会員期間", "cluster"]
customer_clustering.groupby("cluster").count()

         月内平均値  月内中央値  月内最大値  月内最小値  会員期間
cluster
0         1336   1336   1336   1336  1336
1          761    761    761    761   761
2          846    846    846    846   846
3         1249   1249   1249   1249  1249

In [7]:
customer_clustering.groupby("cluster").mean()

            月内平均値     月内中央値      月内最大値     月内最小値       会員期間
cluster
0        5.522518  5.373129   8.743263  2.686377  14.831587
1        3.051243  2.885677   4.750329  1.653088   9.269382
2        8.054608  8.039598  10.009456  6.160757   7.072104
3        4.677494  4.671337   7.232986  2.153723  36.915933