# 第6章 物流の最適ルートをコンサルティングする10本ノック

In [1]:
# 下準備として，データのあるディレクトリに移動しておく
import os

DATA_ROOT_DIR = "./sample/6章/"
os.chdir(DATA_ROOT_DIR)

## ノック51 物流に関するデータを読み込んでみよう
データを読み込んでいく．

In [2]:
import pandas as pd

factories = pd.read_csv("tbl_factory.csv", index_col=0)
factories

        FCName  FCDemand FCRegion
FCID
FC00001   東京工場        28       関東
FC00002  木更津工場        29       関東
FC00003   多摩工場        31       関東
FC00004  横須賀工場        25       関東
FC00005   仙台工場        21       東北
FC00006   山形工場        30       東北
FC00007   那須工場        25       東北
FC00008   青森工場        16       東北

In [3]:
warehouses = pd.read_csv("tbl_warehouse.csv", index_col=0)
warehouses

        WHName  WHSupply WHRegion
WHID
WH00001   杉並倉庫        35       関東
WH00002   品川倉庫        41       関東
WH00003   豊洲倉庫        42       関東
WH00004   郡山倉庫        60       東北
WH00005   仙台倉庫        72       東北
WH00006   山形倉庫        65       東北

In [4]:
cost = pd.read_csv("rel_cost.csv", index_col=0)
cost.head()

            FCID     WHID  Cost
RCostID
1        FC00001  WH00001   0.4
2        FC00001  WH00002   0.8
3        FC00001  WH00003   1.5
4        FC00002  WH00001   0.9
5        FC00002  WH00002   0.8

In [5]:
trans = pd.read_csv("tbl_transaction.csv", index_col=0)
trans.head()

          TransactionDate     ToFC   FromWH  Quantity
TRID
0     2019-01-01 02:11:10  FC00004  WH00003        33
1     2019-01-01 06:12:42  FC00007  WH00006        19
2     2019-01-01 06:32:32  FC00006  WH00004        31
3     2019-01-01 07:17:06  FC00002  WH00003        18
4     2019-01-01 07:52:18  FC00001  WH00002        30